<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Invites</h1>

  <h2>Attendees (7)</h2>
  <ul>
    <% @acceptances.each do |acceptances| %>
    <li><%= acceptances %></li>
   <% end %>
 </ul>
  
  <h2>Apologies (3)</h2>
  <ul>
    <% @rejections.each do |rejections| %>
    <li><%= rejections %></li>
  <% end %>
</ul>


</body>
</html>