<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <% @schedule.each do |subschedule| %>
    <tr>
    	<% subschedule.each do |output| %>
    		<td><%= output %></td>
    	<% end %>
 	</tr>
 	<% end %>
  </table>

</body>
</html>